.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.form-container {
  margin-left: 240px;
  width: 100%;
  padding: 50px 50px;
}
.side-bar {
  max-width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgb(52, 50, 50);
}

.container-row img {
  width: 70%;
  margin-bottom: 20px;
  margin-left: -30px;
}
.container-row h2 {
  color: #fff;
  margin-bottom: 30px;
}
.title-row {
  padding-bottom: 20px;
}
.row-botton {
  content: "";
  top: 0;
  /* transform: translateX(-50%); */
  height: 1px;
  width: 100%;
  max-width: 500px;
  background: rgb(211, 209, 209);
}
.sidebar-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 100px;
  height: 50px;
}
.sidebar-logo:hover {
  background: rgb(83, 82, 82);
}

.sidebar-icon {
  color: #fff;
  font-size: 20px;
  height: 20px;
  float: left;
}
.sidebar-item {
  width: 50%;
  margin-left: 10px;
}
.sidebar-item h3 {
  color: #fff;
  cursor: pointer;
}
.item-icon {
  color: #fff;
  width: 20%;
  margin-top: 6px;
}
.sidebar-row {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin-left: 50px;
}
.sidebar-row.active {
  background: rgb(83, 82, 82);
}
.sidebar-row:hover {
  background: rgb(68, 63, 63);
}
.sidebar-row h4 {
  width: 60%;
  /* padding-left: 20px; */
  color: #fff;
  cursor: pointer;
}
.icon-re {
  width: 20%;
  margin-top: 3px;
}
.sidebar-title {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-out;
}
.sidebar-title.active {
  list-style-type: none;
  max-height: 400px;
  transition: all 0.1s ease-out;
}
